@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:wght@400;500;600;700&display=swap');

html {
  --aura-accent-color-dark: #EEEEEE;
  --aura-accent-color-light: #222222;
  --aura-app-layout-inset: 0px;
  --aura-background-color-dark: #171717;
  --aura-background-color-light: #F5F5F5;
  --aura-base-radius: 4;
  --aura-content-color-scheme: light dark;
  --aura-contrast-level: 0.25;
  --aura-font-family: 'Atkinson Hyperlegible Mono', var(--aura-font-family-system);
  --aura-notification-color-scheme: light dark;
  --aura-overlay-surface-opacity: 1;
  --aura-surface-level: -0.5;
  color-scheme: light dark;
}

vaadin-side-nav::part(label) {
  text-transform: uppercase;
  font-size: var(--aura-font-size-xs);
  color: var(--vaadin-text-color);
  letter-spacing: 0.03em;
}

html {
  --vaadin-button-border-color: var(--vaadin-border-color);
  --vaadin-button-shadow: none;
}

:is(vaadin-button, vaadin-menu-bar-button, vaadin-upload-button):not([theme~="primary"]) {
  --vaadin-button-background: var(--vaadin-background-container);
}